<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Scoutkåren Göta Lejon</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/datatables.min.css" />
	<link href="/css/custom.css" rel="stylesheet" />
	<script src="/js/jquery-1.12.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/datatables.min.js"></script>
	<script src="/js/miscutils.js"></script>
	<link rel="icon" type="image/png" href="/img/favicon.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon.png">
	<link rel="manifest" href="/img/manifest.json">
	<meta name="theme-color" content="#1F4F6F" />
</head>
